.section4 {
    margin-top: 60px;
}

.section4 .head {
    margin: auto;
    width: '50%';
    width: 366px;
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section4 .head div {
    position: absolute
}

.section4 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 3px 6px #0000005C;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    padding-bottom: 40px
}



.section4 .container .container2 {
    width: 100%;
}

.section4 .container .container2 .header-achivements {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.section4 .container .container2 .header-achivements .achivements {
    padding: 30px;
    display: flex;
    flex-direction: column
}

.section4 .container .container2 .header-achivements .achivements .logo {
    height: 60px;
    width: 60px;
    background-color: #C53418;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
}

.section4 .container .container2 .header-achivements .achivements strong {
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.section4 .container .container2 .header-achivements .achivements .active {
    border: 2px solid #FAD831;
    width: 77%;
    margin-top: 10px
}

.section4 .container .container4 {
    width: 100%;
}

.section4 .container .container4 .content1 div{
    cursor: pointer;
}

.section4 .container .container4 .container3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 30px;
}

.section4 .container .container3 .content2,
.content1 {
    width: 100%
}

.section4 .container .container3 .content2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .container .container3 .content2 .tropy {
    border-radius: 5px;
    height: 325px;
    width: 90%;
    background-position: center;
    background-size: cover;
}

.section4 .container .container4 .container3 .content1 div {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 15px;
    width: 90%;
    padding-top: 15px
}

.section4 .container .container4 .container3 .content1 img {
    margin-right: 15px;
    width: 32px;
    height: 31px;
}

.section4 .container .container4 .container3 .content1 span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1266px) {
    .section4 .container .container2 .header-achivements .achivements strong {
        font-size: 12px
    }
}

@media screen and (max-width: 960px) {

    .section4 .container .container3 .content2 .tropy {
        height: 200px;
    }

    .section4 .container .container2 .header-achivements .achivements .logo {
        height: 40px;
        width: 40px;
    }

    .section4 .container .container2 .header-achivements .achivements .logo img {
        height: 30px;
        width: 30px;
    }

    .section4 .container .container4 .container3 .content1 img {
        height: 20px;
        width: 20px;
    }

    .section4 .container .container4 .container3 .content1 span {
        font-size: 12px
    }
}


@media screen and (max-width: 670px) {
    .section4 .container .container2 .header-achivements {
        grid-template-columns: repeat(1, 1fr);
    }

    .section4 .container .container4 .container3 {
        grid-template-columns: repeat(1, 1fr);
    }




    .section4 .container .container2 .header-achivements .achivements hr {
        border: 2px solid #FAD831;
        width: 25%;
        margin-top: 10px
    }

    .section4 .container .container4 .container3 .content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}