.section2{
    background-color:#C53418;
    margin-top: 30px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
}

.section2 .grid{
    position: relative;
    padding-left: 10%
}

.section2 .grid2{
    display:flex;
    justify-content: center;
    align-items: center;
}

.section2 .content{
   color: #ffffff;
   margin-top: 40px
}


.section2 .content div{
    display:flex;
}

.section2 .content div hr{
    width:300px;
    height:1px;
    background-color: #FAD831;
    margin-top: 16px
}


.section2 .content span{
    font-size:24px;
    position:absolute;
    top:0;
    font-weight:600
}

.section2 .content div p{
    font-size: 20px;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px
}


.section2  iframe{
    height:342px;
    width:492px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1080px) {
    .section2  iframe{
        height:242px;
        width:392px;
    }
}

@media screen and (max-width: 960px) {
    .section2  iframe{
        height:250px;
        width:250px;
        border-radius: 10px;
    }

    .section2{
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
    }
   
}




@media screen and (max-width: 581px) {

    .section2 .content span{
        font-size:18px;
        position:absolute;
        top:0;
        font-weight:600
    }

    .section2 .content{
        font-size:18px;
     }

     .section2 .content div p{
        font-size: 14px;
        letter-spacing: 1px;
    }

    .section2 .content strong{
        margin-bottom: 30px;
        font-size:16px;
    }

    .section2{
        padding: 15px;
    }
    .section2 .grid{
        padding-left: 3%
    }

  
}

@media screen and (max-width: 450px) {

    .section2 .content div hr{
        width:30px;
    }

    .section2 .content div p{
        font-size: 12px;
        padding-left:5;
        width:100%;
    }
}
