.highlight {
    margin-top: 130px
}

.highlight .head {
    margin: auto;
    width: '50%';
    width: 366px;
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.highlight .head div{
    position:absolute
}

.highlight .card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    grid-gap: 20px
}

.highlight .card-section .card .box img {
    padding: 10px;
    background-color: #C53418;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px
}

.highlight .card-section .card {
    box-shadow:  0px 3px 6px #0000005C;;
    padding: 20px;
    border-radius: 10px;
}

.highlight .card-section .card strong {
    font-size: 26px;
    font-weight:600
}

.highlight .card-section .card p {
    margin-top: 15px;
    font-size: 24px;
    width: 100%;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 60px;
    padding-top: 30px
}

@media screen and (max-width: 1200px) {
    .highlight .card-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 900px) {

    
    .highlight {
        margin-top: 80px
    }

    .highlight .card-section .card .box img {
        padding: 10px;
        width: 50px;
        height: 50px;    
    }


}

@media screen and (max-width: 650px) {


    .highlight .card-section .card strong {
        font-size: 18px;
    }

    .highlight .card-section .card p {
        margin-top: 15px;
        font-size: 16px;
    }

    .highlight .card-section .card .box img {
        padding: 10px;
        width: 40px;
        height: 40px;    
    }

}